/* 
보라색 : #ae1a4a

1. background-color: #333;
2. background-image: url('../img/common.png');
3. background-repeat: no-repeat;
4. background-position: top;
4. background-position: left;
4. background-position: center;
4. background-position: left center;
4. background-position: 25% 75%; (좌, 상)
4. background-position: left 25% top 75%;
5. background-size: [contain], 100% [auto], auto 100%, cover, 100px 100px
---- 한줄로 ---
background: 1 2 3 4
background: #333 url('../img/common.png') no-repeat 0 0;
background: url('../img/common.png') no-repeat 0 0;
background: url('../img/common.png');
background: #333 url('../img/common.png') left top/cover;
*/

@import './lge-font.css';

html, body {font-family: 'LGSmHaR'; font-size: 14px; letter-spacing: -1px; height: 10000px;}
.wrapper {max-width: 1600px; margin: auto; padding: 0 .5rem;}
.wrapper2 {max-width: 1300px; margin: auto; padding: 0 .5rem;}
.wrapper3 {max-width: 1414px; margin: auto; padding: 0 .5rem; overflow: hidden;}

.disp-table {display: table;}
.disp-cell {display: table-cell; text-align: center; vertical-align: middle;}
.pink {color: #ae1a4a;}
.angle-rt::after {content: '＞'; display: inline-block;}
.pager-wrapper {text-align: center; margin: 2em 0 3em 0;}
.pager-wrapper > a {vertical-align: middle; margin: 0 0.25em; color: #ccc; transition: all 0.5s;}
.pager-wrapper > a.pager {display: inline-block; width: 18px; height: 18px; border: 2px solid #ccc; border-radius: 9px;}
.pager-wrapper > a.pager.active {border: 2px solid #ae1a4a; width: 28px; background-color: #ae1a4a;}
.pager-wrapper > a.bt-play.active {color: #ae1a4a;}
.pager-wrapper > a.bt-pause.active {color: #ae1a4a;}

/********************* header-wrapper **********************/
.header-wrapper {}
	.top-wrapper {background-color: #333; padding: 1.5em 0 .625em 0; display: none;}
		.top-wrapper ul.top-wrap {float: right; padding: .5em .875em; background-color: #ae1a4a; border-radius: 1.25em;}
			.top-wrapper ul.top-wrap li {float: left; color: #f8f8f8;}
			.top-wrapper ul.top-wrap li:nth-child(2) {margin: 0 .875em; opacity: .5;}

	.navi-wrapper {background-color: #333; position: relative; z-index: 3; padding-top: 0.75em;}
	.navi-wrapper .logo {width: 164px; height: 43px; float: left; background: url('../img/common.png');}
		.navi-wrapper .logo a {display: inline-block; width: 100%; height: 100%;}
	.navi-wrapper .navi-wrap {float: right; color: #f8f8f8; font-size: 1.25rem; display: none;}
	.navi-wrapper .mb-navi-wrap {float: right; color: #f8f8f8; font-size: 1.75rem; padding: .5em 0 .75em 0; cursor: pointer;}
	.navi-wrapper .mb-navi-wrap > a {margin-left: 0.5em; vertical-align: middle;}
	.navi-wrapper .mb-navi-wrap > a:not(:last-child) {font-size: 0.75em;}
	.navi-wrapper .navi {float: left; padding: 0.875em 0.75em 1.75em 0.75em; height: 63px;}
	.navi-wrapper .navi:hover {background-color: #ccc;}
	.navi-wrapper .navi:hover > a {color: #333;}
	.navi-wrapper .navi:hover > .sub-wrapper {z-index: 2; height: 300px;}
	.navi-wrapper .navi:last-child > span {opacity: .5;}

	.sub-wrapper {position: absolute; top: 63px; left: 0; height: 0; width: 100%; background-image: linear-gradient(#ccc, #f1f1f1); transition: height 0.35s; overflow: hidden; z-index: 1; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);}
	.sub-wrapper > .wrapper2 {height: 100%; padding: 1.5% 0;}
	.sub-wrapper > .wrapper2 > div {float: left; height: 100%; color: #333;}
	.sub-wrapper > .wrapper2 > div.sub-title {width: 25%; text-align: center;}
	.sub-wrapper > .wrapper2 > div.sub-wrap {width: 75%;}

	.sub-wrapper .sub-title h2 {font-size: 0.875em; line-height: 1.75;}
	.sub-wrapper .sub-title h2 span {font-size: 1.25em; color: #ae1a4a;}
	.sub-wrapper .sub-title:hover a {text-decoration: underline;}
	
	.sub-wrapper .sub-wrap > div {border-left: 1px solid #bbb; float: left; height: 100%; padding: 0 1.25%;}
	.sub-wrapper .sub-signature > div {width: 33.3333%;}
	.sub-wrapper .sub-tv > div {width: 25%;}
	.sub-wrapper .sub-gram > div {width: 25%;}
	.sub-wrapper .sub-kitchen > div {width: 20%;}
	

	.sub-wrapper .sub-navi {padding: 0.75em 0; line-height: 1.25;}
	.sub-wrapper .sub-navi:first-child {padding: 0 0 0.75em 0;}
	.sub-wrapper .sub-navi::after {display: inline-block; content: '＞'; color: #ae1a4a; padding-left: 0.25em;}
	.sub-wrapper .sub-bookmark {margin: 1em 0;}
	.sub-wrapper .sub-bookmark::after {display: inline-block; content: ' '; margin-left: 0.5em; width: 13px; height: 18px; 
		background: url('../img/common.png') no-repeat 0 -50px; vertical-align: bottom;}
	.sub-wrapper .sub-mt {margin: 1em 0;}

	.sub-wrapper .sub-prd {font-size: 0.8em; padding: 0.25em 0;}
	.sub-wrapper .sub-prd a:hover {text-decoration: underline;}
	.sub-wrapper .sub-prd > ul {padding: 0.5em 0;}
	.sub-wrapper .sub-prd > ul > .prd {font-size: 1.05em; color: #121212; float: left;}
	.sub-wrapper .sub-prd > ul > .prd::before {display: inline-block; content: '·'; padding: 0 0.25em 0 0.75em;}

	.navi-wrapper2 {background-color: #ae1a4a; color: #f9f9f9;}
	.navi-wrapper2 .icon-wrap {float: right; text-align: center;}
	.navi-wrapper2 .icon-wrap > .icon {display: inline-block; height: 32px; line-height: 32px; margin: 0.325em;}
	.navi-wrapper2 .icon-wrap > .icon:nth-child(4) {margin-right: 1em;}
	.navi-wrapper2 .icon-wrap img {vertical-align: middle; margin-right: 0.25em; width: 18px;}
	.navi-wrapper2 .icon-wrap span {font-weight: bold; margin-right: 0.25em;}

/********************* main-wrapper **********************/
.main-wrapper {}
.main-wrapper .slide {padding: 10% 15% 25% 15%; background-size: cover; background-repeat: no-repeat; 
	background-position: 70% center;}
.main-wrapper .slide:nth-child(1) {background-image: url('../img/main01.jpg');}
.main-wrapper .slide:nth-child(2) {background-image: url('../img/main02.jpg');}
.main-wrapper .slide:nth-child(3) {background-image: url('../img/main03.jpg');}

.main-wrapper .slide > .content {font-size: 1.5em;}
.main-wrapper .slide > .content > .slogan {padding: 1em 0; transition: all 1s; line-height: 1.25;} 
.main-wrapper .slide > .content > .slogan > br {display: block;} 
.main-wrapper .slide > .content > .brand {padding-bottom: 1em; transition: all 1s;}
.main-wrapper .slide > .content > .brand > img {max-width: 60%; transition: all 1s;} 
.main-wrapper .slide > .content button {border: 1px solid #333; background-color: transparent; padding: 0.5em 2em; font-size: 1.125rem; outline: none;	font-family: inherit;} 



/********************* link-wrapper **********************/
.link-wrapper {}
.link-wrapper .link-wrap {margin: 1.5em 0;}
.link-wrapper .link-wrap:first-child {width: 100%; margin-left: 0}
.link-wrapper .link-wrap:last-child {width: 100%; margin-left: 0}
.link-wrapper .link-wrap:first-child > li {width: 100%; margin: 1% 0;}
.link-wrapper .link-wrap:last-child > li {width: 100%; margin: 1% 0;}
.link-wrapper .link-wrap > li {float: left; background-color: #000;}
.link-wrapper .link-wrap > li img {transition: all .75s; opacity: .9;}
.link-wrapper .link-wrap > li:hover img {opacity: 1;}


/******************** 반응형 **********************/
@media (min-width: 576px) {

}

@media (min-width: 768px) {
	.wrapper {padding: 0 1rem;}
	.wrapper2 {padding: 0 1rem;}
	.main-wrapper .slide {padding: 8% 12% 12% 12%; background-position: center;}
	.link-wrapper .link-wrap:first-child {width: 101%; margin-left: -0.5%;}
	.link-wrapper .link-wrap:last-child {width: 102%; margin-left: -1%;}
	.link-wrapper .link-wrap:first-child > li {width: 32.3333%; margin: 0.25% .5%;}
	.link-wrapper .link-wrap:last-child > li {width: 48%; margin: 0.25% 1%;}
}

@media (min-width: 992px) {
	.wrapper {padding: 0 2rem;}
	.wrapper2 {padding: 0 2rem;}
	.navi-wrapper2 .icon-wrap > .icon {float: left; margin: 0.625em;}
	.navi-wrapper2 .icon-wrap img {margin-right: 0.5em; width: auto;}
	.navi-wrapper2 .icon-wrap span {margin-right: 0.5em;}

	.main-wrapper .slide > .content {font-size: 1.875em;}
	.main-wrapper .slide > .content > .slogan > br {display: none;} 
	.main-wrapper .slide > .content > .brand > img {max-width: 80%;} 
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
	.top-wrapper {display: block;}
	.navi-wrapper {padding-top: 0;}
	.navi-wrapper .mb-navi-wrap {display: none;}
	.navi-wrapper .navi-wrap {display: block;}
	.main-wrapper .slide {padding: 6% 12% 16% 12%;}
	.main-wrapper .slide > .content {font-size: 2.125em;}
	.main-wrapper .slide > .content > .brand > img {max-width: 100%;}
}

@media (min-width: 1600px) {

}



/* 
SCSS문법
.header-wrapper {
	.top-wrapper {
		ul.top-wrap {
			li {
				float: left; color: #f8f8f8;
				&:nth-child(2) {margin: 0 12px; opacity: .5;}
			}
		}
	}
} 
*/