/* 
보라색 : #ae1a4a

1. background-color: #333;
2. background-image: url('../img/common.png');
3. background-repeat: no-repeat;
4. background-position: top;
4. background-position: left;
4. background-position: center;
4. background-position: left center;
4. background-position: 25% 75%; (좌, 상)
4. background-position: left 25% top 75%;
5. background-size: [contain], 100% [auto], auto 100%, cover, 100px 100px
---- 한줄로 ---
background: 1 2 3 4
background: #333 url('../img/common.png') no-repeat 0 0;
background: url('../img/common.png') no-repeat 0 0;
background: url('../img/common.png');
background: #333 url('../img/common.png') left top/cover;
*/

@import './lge-font.css';

html, body {font-family: 'LGSmHaR'; font-size: 14px; letter-spacing: -1px; height: 10000px;}
.wrapper {max-width: 1600px; margin: auto; padding: 0 2rem;}
.wrapper2 {max-width: 1300px; margin: auto; padding: 0 2rem;}

/********************* header-wrapper **********************/
/* 
SCSS문법
.header-wrapper {
	.top-wrapper {
		ul.top-wrap {
			li {
				float: left; color: #f8f8f8;
				&:nth-child(2) {margin: 0 12px; opacity: .5;}
			}
		}
	}
} 
*/

.header-wrapper {}
	.top-wrapper {background-color: #333; padding: 1.5em 0 .625em 0;}
		.top-wrapper ul.top-wrap {float: right; padding: .5em .875em; background-color: #ae1a4a; border-radius: 1.25em;}
			.top-wrapper ul.top-wrap li {float: left; color: #f8f8f8;}
			.top-wrapper ul.top-wrap li:nth-child(2) {margin: 0 .875em; opacity: .5;}

	.navi-wrapper {background-color: #333; position: relative; z-index: 3;}
	.navi-wrapper .logo {width: 164px; height: 43px; float: left; background: url('../img/common.png');}
		.navi-wrapper .logo a {display: inline-block; width: 100%; height: 100%;}
	.navi-wrapper .navi-wrap {float: right; color: #f8f8f8; font-size: 18px;}
	.navi-wrapper .mb-navi-wrap {float: right; color: #f8f8f8; font-size: 24px; padding-top: 14px;}
	.navi-wrapper .navi {float: left; padding: 16px 14px 30px 14px; height: 66px;}
	.navi-wrapper .navi:hover {background-color: #ccc;}
	.navi-wrapper .navi:hover > a {color: #333;}
	.navi-wrapper .navi:hover > .sub-wrapper {z-index: 2; height: 300px;}
	.navi-wrapper .navi:last-child > span {opacity: .5;}

	.sub-wrapper {position: absolute; top: 66px; left: 0; height: 0; width: 100%; background-image: linear-gradient(#ccc, #f1f1f1); transition: height 0.35s; overflow: hidden; z-index: 1; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);}
	.sub-wrapper .sub-wrap {float: left; width: 25%;}
	.sub-wrapper .sub-wrap.title {}
	.sub-wrapper .sub-wrap.title > div {}
	.sub-wrapper .sub-wrap.title > h2 {}
	.sub-wrapper .sub-navi {}
	.sub-wrapper .sub-prd {}
	.sub-wrapper .sub-prd > ul {}
	.sub-wrapper .sub-prd > ul > .prd {}

	.navi-wrapper2 {background-color: #ae1a4a;}




/******************** 반응형 **********************/
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1600px) {

}
